/****
**Extra custom_styles
**
*/

.table_rws th, .table_rws td{
	font-size:9px;font-weight:500;
}
.table_rws{
	overflow-x:auto;
}
.table_rws th{font-weight:700;}
.text-xs{font-size:11px;}

.nav-link::active{
color:#0099cc;	
}
.btn-round{border-radius:40px;height:40px;width:auto;padding:12px 30px 7px 30px;}
.btn-orderless{border:0;background:#fff;}