/****
**Extra custom_styles
**
*/

.table_rws th, .table_rws td, .text-400{
	font-size:10px;font-weight:600;font-family:'GD Sherpa Regular','Spartan','Brandon Grotesque';
}
.table_rws{
	overflow-x:auto;
}
.table_rws th{font-weight:700;}
.text-xs{font-size:11px !important;}

.nav-link::active{
color:#0099cc;	
}
.btn-round{border-radius:40px;height:auto;border:0;width:auto;padding:8px 30px 24px 30px;margin-top:5px;}
.btn-orderless{border:0;background:#fff;}
.rounded-soft,.img-round{width:40px;height:40px;border-radius:50%;}

.bump-20{
	margin-top:12px;
}
.bordered{border:2px solid #bfbfbf !important;}
.work-sans{font-family:Work Sans;}
.brandon{font-family:Brandon Grotesque;}
.text-underline{text-decoration:underline;}
.alert-note-style{font-family:'Spartan','GD Sherpa Regular','Brandon Grotesque';font-size:11px;}
.btn-circle{border-radius:50%;font-size:10px;width:50px;height:50px;line-height:40px;text-align:center;position:relative;font-size:8px;}
.form-control{
	height:37px !important;font-size:12px;
}
.btn{height:37px !important;}
.round_ball{
	width:auto;padding-left:30px;padding-right:30px;padding-top:2px;height:50px;border-radius:60px;border:0;background:#0d2453;color:#fff;text-align:center;font-size:17px;line-height:45px;font-weight:400;font-family:Work Sans;}
.round_ball a{font-size:13px;font-family:'GD Sherpa Regular','Spartan','Brandon Grotesque';}
.r small{font-size:9px;}
.withdraw_btn:hover{text-decoration:none;}
.alert-info, .alert-success, .alert-warning{
font-family:'GD Sherpa Regular', 'Spartan','Brandon Grotesque','Work Sans';font-size:14px;
}

.input-md{
	width:100%;
	margin-top:5px;
}

.text-tiny{font-size:9px;font-weight:600;color:blue;}
.weight-400{font-weight:400;}
.red{color:#ff0000;}
.row-fx{display:grid;grid-template-columns: 45% 55%;}
.tos_tick{
	display:grid;grid-template-columns: 10% 90%;grid-gap:1px;margin:auto;
}

.small-xs{font-size:9px;font-weight:500;}

label{
	margin:15px auto 4px auto !important;font-weight:500;
}

.grix{
	display:grid;grid-template-columns: 50% 50%;grid-gap:4px;
}

.margin-35{margin-top:29px;}
.notification_bar{display:grid;grid-template-columns:20% 80%;grid-gap:5px;margin-bottom:5px;}
.subj{margin-top:8px;font-size:11px;color:#efefef;}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 !important;
}











/**
*Mobile and Ipad/tablets size
***/
@media(max-width:425px){





}